nav{
    width: 100vw;
    height: 5rem;
    position: fixed;
    z-index: 10;
    display: grid;
    place-items: center;
    box-shadow: 0 1rem 1rem rgba($black-color, 0.1);
    @include gradientBackground();
    //transition: background 10s ease;


    &.window-scroll{
        //navbar scroll color to white
        background: linear-gradient(rgb(229, 229, 229),rgb(214, 214, 214));
        //transition: background 3s ease;
        
        .container{
            button{
                color:black;
            }

            a{
                color: rgb(86, 86, 86);
                font-size: 1.01rem;
                font-weight: 410;

                &:hover{
                    color: black;
                }
            

            
            

            & > h3 {
                color:black;
            }

            &.btn{
                color: $white-color;
            }
        }
        }
    }

    &.nav-scroll-services{
        //transition: background 3s ease;
        background: linear-gradient(135deg,rgb(239, 187, 241),rgb(235, 202, 247));
    }
    &.nav-scroll-specialists{
        background: linear-gradient(-135deg,rgb(144, 184, 240),rgb(235, 202, 247));
    }

    &.nav-scroll-appointment{
        background: linear-gradient(-135deg,rgb(58, 176, 245),rgb(235, 202, 247));
    }


    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    
        ul{
            display: flex;
            gap: 3rem;
            align-items: center;
        }

        // only for medium and small screen
        button{
            display: none;
        }

        a{
            color:rgb(224, 224, 224);
            font-weight: 400;
            font-size: 1.01rem;
            transition: all 400ms ease;

        }

        a:hover{
            color:$white-color;
        }
        .nav__logo h3 {
            color:$white-color;
            transition: all 400ms ease;

            &:hover{
                transform: translateY(-0.2rem);
            }
        }




    }
}




//  media queries for medium devices
@media screen and (max-width:1024px){
    nav{
        &.window-scroll{
            //navbar scroll color to white
            //background: $white-color;
            .container{
                    button{
                    color:$black-color;
                    }

                    a{
                        color: $white-color;
                    }
                }
        }

        .container{
            
            button{
                display:inline-block;
                background: transparent;
                color:$white-color;
                font-size: 2rem;
                cursor:pointer;
            

            &#close__nav-btn{
                display: none;
            }
        }

            ul{
                position:fixed;
                right:5%;
                top:5rem;
                flex-direction: column;
                align-items: flex-start;
                gap:0;
                display: none;
                perspective: 300px;

                li{
                    width: 100%;
                    opacity:0;
                    animation: flipNavItem 310ms ease forwards;
                    transform-origin: top;
                    
                    &:nth-child(2){
                        animation-delay: 150ms;
                    }

                    &:nth-child(3){
                        animation-delay: 300ms;
                    }

                    &:nth-child(4){
                        animation-delay: 450ms;
                    }

                    &:nth-child(5){
                        animation-delay: 600ms;
                    }


                    @keyframes flipNavItem{
                        0%{
                            transform: rotateX(90deg);
                        }
                        100%{
                            transform: rotateX(0deg);
                            opacity: 1;
                        }
                    }

                    a{
                        color:$white-color;
                        height: 100%;
                        display: block;
                        padding:1.5rem 2rem;
                        border-radius: 0;
                        background: linear-gradient($primary-color-variant,darken($primary-color-variant,12));
                        &.btn{
                            background: $secondary-color;
                        }

                    }
                }

            }


        }
    }
}
