#services {

    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:2rem;
    

    article{
        @include gradientBackground;
        padding:1.5rem;
        border-radius: 1rem;
        display: flex;
        gap:1.5rem;
        //height:fit-content;
        transition: all 400ms ease,transform 1.1s ease,;

        &:hover{
            //margin-top:-0.5rem ;
            transform: translateY(-0.5rem);


            i,.material-symbols-outlined{
                transform: rotate(360deg);
                color:#fd499a;
            }

            
        }

        i{  

            font-size: 1.7rem;
            transition: transform 1.1s ease,color 1.1s ease;
            color:white;
            
            &:hover{
            transform: rotate(180deg);
            }
        }

        .material-symbols-outlined{
            font-size: 1.8rem;
            transition: transform 1.1s ease,color 1.1s ease;
            &:hover{
                transform: rotate(180deg);
                }
        }

        div{
            h4{
                margin-bottom: 1rem;
            }
        }

         
    }
    }
    .bg__blob2{
        position: absolute;
        z-index: -2;
        left: 34rem;
        top:58rem;
        transform: scale(2.5);
        //animation: move 25s ease-in-out infinite;
        transform-origin: 50% 50%;

        @keyframes move {
            0%   { transform: scale(2.2)   translate(10px, -50px); }
            38%  { transform: scale(1.4, 1.6) translate(40vw, 20vh) rotate(160deg); }
            40%  { transform: scale(1.4, 1.6) translate(40vw, 20vh) rotate(160deg); }
            78%  { transform: scale(1.9) translate(0vw, 18vh) rotate(-40deg); }
            80%  { transform: scale(1.9) translate(0vw, 18vh) rotate(-40deg); }
            100% { transform: scale(2.2)   translate(10px, -50px); }
          }
    }

}

// MEDIA QUERIES
// TAB AND MEDIUM DEVICES
@media screen and (max-width:1024px){
    #services{
        overflow-x: hidden;
        .container{
            gap:1.1rem;
            grid-template-columns: 1fr 1fr;

            article{
                padding: 1.2rem;
                gap:0.8rem;

                &:hover{
                    margin: 0;
                    //transform: translateY(-0.5rem);


                    // i,.material-symbols-outlined{
                    //     transform: rotate(360deg);
                    //     color:#fd499a;
                    // }
                }

            }

            #ser-5:hover,#ser-6:hover{
                transform: translateY(0.5rem);
            }
        }
        .bg__blob2{
            position: absolute;
            z-index: -2;
            left: 1rem;
            top:60rem;
            transform: scale(1.4);
            animation: move2 24s ease-in-out infinite alternate;
            transform-origin: 50% 50%;
    
            @keyframes move2 {
                0%   { transform: scale(2.1)   translate(10vw, 5vh); }
                38%  { transform: scale(1.3, 1.6) translate(30vw, 10vh) rotate(160deg); }
                40%  { transform: scale(1.3, 1.6) translate(30vw, 10vh) rotate(160deg); }
                78%  { transform: scale(1.9) translate(20vw, 12vh) rotate(-40deg); }
                80%  { transform: scale(1.9) translate(20vw, 12vh) rotate(-40deg); }
                100% { transform: scale(2.1)   translate(10vq, 5vh); }
              }
        }
    }
}

// MEDIA QUERIES
// PHONE AND SMALL DEVICES
@media screen and (max-width:600px){
    #services{
        //overflow: hidden;
        overflow-y: hidden;
        .container{
            grid-template-columns: 1fr;
            overflow-y: hidden;

            article{
                div{
                    h4{
                        margin-bottom: 0.8rem;
                    }
                }

            }
        }
        .bg__blob2{
            position: absolute;
            z-index: -2;
            left: 1rem;
            top:80rem;
            transform: scale(1.4);
            animation: move2 24s ease-in-out infinite alternate;
            transform-origin: 50% 50%;
    
            @keyframes move2 {
                0%   { transform: scale(1)   translate(10px, -50px); }
                38%  { transform: scale(1.1, 1.3) translate(15vw, 40vh) rotate(160deg); }
                40%  { transform: scale(1.1, 1.3) translate(15vw, 40vh) rotate(160deg); }
                78%  { transform: scale(1.4) translate(5vw, 22vh) rotate(-40deg); }
                80%  { transform: scale(1.4) translate(5vw, 22vh) rotate(-40deg); }
                100% { transform: scale(1)   translate(10px, -50px); }
              }
        }

    }
}