#services {

    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:2rem;
    

    article{
        @include gradientBackground;
        padding:1.5rem;
        border-radius: 1rem;
        display: flex;
        gap:1.5rem;
        //height:fit-content;
        transition: all 400ms ease,transform 1.1s ease,;

        &:hover{
            //margin-top:-0.5rem ;
            transform: translateY(-0.5rem);


            i,.material-symbols-outlined{
                transform: rotate(360deg);
                color:#fd499a;
            }

            
        }

        i{  

            font-size: 1.7rem;
            transition: transform 1.1s ease,color 1.1s ease;
            color:white;
            
            &:hover{
            transform: rotate(180deg);
            }
        }

        .material-symbols-outlined{
            font-size: 1.8rem;
            transition: transform 1.1s ease,color 1.1s ease;
            &:hover{
                transform: rotate(180deg);
                }
        }

        div{
            h4{
                margin-bottom: 1rem;
            }
        }
    }
}
}

// MEDIA QUERIES
// TAB AND MEDIUM DEVICES
@media screen and (max-width:1024px){
    #services{
        .container{
            gap:1.1rem;
            grid-template-columns: 1fr 1fr;

            article{
                padding: 1.2rem;
                gap:0.8rem;

                &:hover{
                    margin: 0;
                    //transform: translateY(-0.5rem);


                    // i,.material-symbols-outlined{
                    //     transform: rotate(360deg);
                    //     color:#fd499a;
                    // }
                }

            }
        }
    }
}

// MEDIA QUERIES
// PHONE AND SMALL DEVICES
@media screen and (max-width:600px){
    #services{
        .container{
            grid-template-columns: 1fr;


            article{
                div{
                    h4{
                        margin-bottom: 0.8rem;
                    }
                }
            }
        }

    }
}