#specialists{
    position: relative;
    //overflow-x: hidden;
    height: 100%;
    //padding-bottom: 4rem;
    $bg-size:30rem;
    background: url('../assets/blob2.svg');
    background-repeat:no-repeat;
    background-size:  $bg-size;
    background-position: center;
    animation: background-position 95s ease-in-out infinite alternate;

    @keyframes background-position {
        0% {
            background-position: 50% 10%;
            //background-size:  $bg-size;
          }
          25% {
            background-position: 50% 25%;
            //background-size:  $bg-size + 0.5rem;
          }
          50% {
            background-position: 70% 50%;
            //background-size: $bg-size + 0.6rem;
          }
          75% {
            background-position: 65% 55%;
            //background-size: $bg-size + 0.5rem;
          }
          100% {
            background-position: 50% 50%;
            //background-size: $bg-size + 0.5rem;
          }
      }

    .container{
        width:68%;
        display:grid;
        grid-template-columns: repeat(4,1fr);
        gap:2rem;
        margin-bottom: 1rem;

        &:hover{
            box-shadow: none;
        }

        article{
            background: $white-color;
            border-radius: 1rem;
            box-shadow: 0.1rem 0.5rem 0.5rem rgba($black-color,0.25), -0rem -0.1rem 2.2rem rgba($black-color,0.25);
            position: relative;
            transition: all 700ms ease,transform 500ms ease-in-out;

            &:hover{
                
                box-shadow:  0.6rem 1.5rem 1.5rem rgba($black-color,0.25), -0.6rem -0.8rem 1.5rem rgba($black-color,0.25);
                transform: translateY(-0.6rem);
                // transform: scale(1.004);
                .specialist__image::before{
                    left:0%;
                    border-radius: 1rem;
                }

                .specialist__socials{
                    opacity: 1;
                    visibility: visible;
                }

                .specialist__whatsapp{
                    opacity: 1;
                    visibility: visible;

                }
            }
        
            .specialist__image{
                height:20rem;
                position: relative;
                border-radius: 1rem;
                overflow: hidden;;

                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    height:100%;
                    position: absolute;
                    top:0;
                    left:-100%;
                    background: linear-gradient(135deg,rgba($primary-color,0.8),rgba($primary-color-variant,0.85));
                    border-radius: 50%;
                    transition: all 1s ease;

                }
    
            }
    
            .specialist__details{
                margin:1.5rem 0;
                text-align: center;
            }
    
            .specialist__socials{
                position: absolute;
                display: flex;
                flex-direction: column;
                top:1.2rem;
                right:1.2rem;
                gap:1rem;
                opacity: 0;
                visibility: hidden;
                transition: all 1s 340ms ease;


                a{
                    background: $white-color;
                    color:$primary-color;
                    padding: 0.4rem;
                    display: flex;
                    font-size: 0.8rem;
                    border-radius: 50%;
                    transition: all 400ms ease;
                }

                .insta:hover{
                    //background: $primary-color;
                    background: $insta-color;
                    color: $white-color;

                }

                .fb:hover{
                    background: $fb-color;
                    color: $white-color;
                }

                .twitter:hover{
                    background: $twitter-color;
                    color: $white-color;
                }

                .linked:hover{
                    background: $linked-color;
                    color: $white-color;
                }
            }

            .specialist__whatsapp{
                background: $success-color;
                color:$white-color;
                position: absolute;
                left:50%;
                transform: translateX(-50%);
                bottom:30%;
                padding: 1rem;
                border-radius: 50%;
                display: flex;
                opacity:0;
                visibility: hidden;
                font-size: 1.1rem;
                transition: all 1s 240ms ease, background 250ms  ease-in,color  250ms ease-in,transform 500ms ease;

                &:hover{
                    background: $white-color;
                    color:$success-color;
                    transform: translateX(-50%) translateY(-5px);
                }
            }

        
        }
        
    }

    .bg__blob{
        position: absolute;
        z-index: -2;
        left: 20%;
        top:29%;
        transform: scale(2.4);
        animation: move 40s ease-in-out infinite alternate;
        transform-origin: 50% 50%;

        @keyframes move {
            0%   { transform: scale(2.2)   translate(10px, -50px); }
            38%  { transform: scale(1.4, 1.6) translate(28vw, 20vh) rotate(160deg); }
            40%  { transform: scale(1.4, 1.6) translate(28vw, 20vh) rotate(160deg); }
            78%  { transform: scale(1.9) translate(0vw, 18vh) rotate(-40deg); }
            80%  { transform: scale(1.9) translate(0vw, 18vh) rotate(-40deg); }
            100% { transform: scale(2.2)   translate(10px, -50px); }
          }
    }
}


// MEDIA QUERIES
// TAB AND MEDIUM DEVICES
@media screen and (max-width:1024px){
    #specialists{
        //overflow-x: hidden;
        animation: background-position 65s ease-in-out infinite alternate;
        $bg-size:38rem;
    @keyframes background-position {
        0% {
            background-position: 50% 10%;
            //background-size:  $bg-size;
          }
          25% {
            background-position: 50% 25%;
            //background-size:  $bg-size + 2rem;
          }
          50% {
            background-position: 80% 80%;
            //background-size: $bg-size + 3rem;
          }
          75% {
            background-position: 25% 75%;
            //background-size: $bg-size + 2.5rem;
          }
          100% {
            background-position: 50% 50%;
            //background-size: $bg-size + 0.5rem;
          }
      }
        .container{
            grid-template-columns: repeat(2,1fr);

            #mob-4,#mob-3{
                margin-bottom: 1.2rem;
            }

            .tab-down{

                &:hover{
                    transform: translateY(0.6rem);
                }
            }
        }
    }
    
}

// MEDIA QUERIES
// PHONE AND SMALL DEVICES
@media screen and (max-width:600px){
    #specialists{
        //overflow: hidden;
        
        background-repeat:space;
        animation: background-position 65s ease-in-out infinite alternate;
        $bg-size:28rem;
    @keyframes background-position {
        0% {
            background-position: 50% 25%;
            //background-size:  $bg-size;
          }
          25% {
            background-position: 50% 25%;
            //background-size:  $bg-size + 2rem;
          }
          50% {
            background-position: 60% 40%;
            //background-size: $bg-size + 3rem;
          }
          75% {
            background-position: 45% 60%;
            //background-size: $bg-size + 2.5rem;
          }
          100% {
            background-position: 50% 40%;
            //background-size: $bg-size + 0.5rem;
          }
      }
        .container{
            grid-template-columns: 1fr;

            #mob-1:hover{
                transform: translateY(-0.7rem);
            }

            #mob-4{
                margin-bottom: 1.2rem;
            }

            #mob-4:hover{
                transform: translateY(0.7rem);
            }


        }

        .bg__blob{
            position: absolute;
            z-index: -2;
            transform: scale(1);
            top:0.5rem;
            animation: move 25s ease-in-out infinite alternate;
            transform-origin: 50% 50%;
    
            @keyframes move {
                0%   { transform: scale(1)   translate(-0.5rem, 1rem); }
                38%  { transform: scale(0.8, 0.9) translate(-1rem, 80vh) rotate(160deg); }
                40%  { transform: scale(0.8, 0.9) translate(-1rem, 80vh) rotate(160deg); }
                78%  { transform: scale(0.9) translate(-2rem, 192vh) rotate(-40deg); }
                80%  { transform: scale(0.9) translate(-2rem, 192vh) rotate(-40deg); }
                100% { transform: scale(1)   translate(-0.5rem, 1rem); }
              }
        }
    }
    
}