#specialists{

    .container{
        width:68%;
        display:grid;
        grid-template-columns: repeat(4,1fr);
        gap:2rem;

        &:hover{
            box-shadow: none;
        }

        article{
            background: $white-color;
            border-radius: 1rem;
            box-shadow: 0.1rem 0.5rem 0.5rem rgba($black-color,0.25), -0rem -0.1rem 2.2rem rgba($black-color,0.25);
            position: relative;
            transition: all 700ms ease,transform 500ms ease-in-out;

            &:hover{
                
                box-shadow:  0.6rem 1.5rem 1.5rem rgba($black-color,0.25), -0.6rem -0.8rem 1.5rem rgba($black-color,0.25);
                // transform: scale(1.004);
                .specialist__image::before{
                    left:0%;
                    border-radius: 1rem;
                }

                .specialist__socials{
                    opacity: 1;
                    visibility: visible;
                }

                .specialist__whatsapp{
                    opacity: 1;
                    visibility: visible;

                }
            }
        
            .specialist__image{
                height:20rem;
                position: relative;
                border-radius: 1rem;
                overflow: hidden;;

                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    height:100%;
                    position: absolute;
                    top:0;
                    left:-100%;
                    background: linear-gradient(135deg,rgba($primary-color,0.8),rgba($primary-color-variant,0.85));
                    border-radius: 50%;
                    transition: all 1s ease;

                }
    
            }
    
            .specialist__details{
                margin:1.5rem 0;
                text-align: center;
            }
    
            .specialist__socials{
                position: absolute;
                display: flex;
                flex-direction: column;
                top:1.2rem;
                right:1.2rem;
                gap:1rem;
                opacity: 0;
                visibility: hidden;
                transition: all 1s 340ms ease;


                a{
                    background: $white-color;
                    color:$primary-color;
                    padding: 0.4rem;
                    display: flex;
                    font-size: 0.8rem;
                    border-radius: 50%;
                    transition: all 400ms ease;
                }

                .insta:hover{
                    //background: $primary-color;
                    background: $insta-color;
                    color: $white-color;

                }

                .fb:hover{
                    background: $fb-color;
                    color: $white-color;
                }

                .twitter:hover{
                    background: $twitter-color;
                    color: $white-color;
                }

                .linked:hover{
                    background: $linked-color;
                    color: $white-color;
                }
            }

            .specialist__whatsapp{
                background: $success-color;
                color:$white-color;
                position: absolute;
                left:50%;
                transform: translateX(-50%);
                bottom:30%;
                padding: 1rem;
                border-radius: 50%;
                display: flex;
                opacity:0;
                visibility: hidden;
                font-size: 1.1rem;
                transition: all 1s 240ms ease, background 250ms  ease-in,color  250ms ease-in,transform 500ms ease;

                &:hover{
                    background: $white-color;
                    color:$success-color;
                    transform: translateX(-50%) translateY(-5px);
                }
            }

        
        }
        
    }
}


// MEDIA QUERIES
// TAB AND MEDIUM DEVICES
@media screen and (max-width:1024px){
    #specialists{

        .container{
            grid-template-columns: repeat(2,1fr);
        }
    }
    
}

// MEDIA QUERIES
// PHONE AND SMALL DEVICES
@media screen and (max-width:600px){
    #specialists{
        .container{
            grid-template-columns: 1fr;
        }
    }
    
}