.swiper{
    
    width:$container-lg;

    .slideshow{
        //adds space below the wrapper (between the wrapper and pagination)
        margin-bottom: 3.5rem;
        .slide{
            width:32%;
            height: 12rem;
            margin-right: 2%;
            @include gradientBackground;
            padding:1.5rem 2rem;
            border-radius: 1rem;
            cursor: default;
            font-size: 0.9rem;

            p{
                height: 60%;
                margin-bottom: 1.5rem;
            }
            
            .patient{
                display: flex;
                align-items: center;
                gap:1rem;

                .avatar{
                    width:2.5rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    overflow: hidden;
    
                }
            }
            

        }
    }

    .swiper-pagination-bullet{
        background: $primary-color;
    }
}

//  media queries for med devices
@media screen and (max-width:1024px){
    .swiper{
        .slideshow{
            .slide{
                width:60%;
                margin-right: 2.5%;
                padding:1.5rem;
            }
        }
    }

}

//  media queries for small devices
@media screen and (max-width:610px){
    .swiper{
        .slideshow{
            .slide{
                width:92%;
                margin-right: 0.9rem;
                padding:1.5rem;
            }
        }
    }

}